<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
</html>

<div>
    <form action="/" method="GET">
        <p>Логин</p>
        <input name="login" value="">
        <p>Пароль</p>
        <input name="password" value="">
        <p>Сообщение</p>
        <input name="message">
        <button>Отправить</button>
        // <button name = "sendMsg">Показать историю сообщений</button>
        // <button name ="logs">Логи</button>
        // <button  name ="bd">БД</button>
        <form action="/" method="GET"  >
            <p>Паттерн DataMapper + Repository:</p>
            <button name = "getAllInfo">Получить все записи</button>
            <button name = "getIDInfo">Получить запись по id</button>
            <button name = "getFilter">Фильтрация по логину</button>
            <button name = "saveInfo">Сохранение записи</button>
            <button name = "delInfo">Удаление записи</button>
            <p>
            <l6>ID</l6>
            <input name="ID" value="">
            <l6>Логин</l6>
            <input name="newLogin" value="">
            <l6>Пароль</l6>
            <input name="newPass" value="">
            <l6>Сообщение</l6>
            <input name="newMsg" value="">
            </p>
        </form>

    </form>
</div>